#rows {
  overflow: auto;
}
 h2 {
  color: white;
  border: 1px solid gray;
  margin: 0;
}
.odd-even-item .head{
  background-color: black;
  border: 0px;
  color: var(--ion-color-primary);
}
.odd-even-item .tail{
  border: 0px;
  background-color: black;  
  color: var(--ion-color-danger);
}

.head {
  background-color: var(--ion-color-primary);
}
.tail {
  background-color: var(--ion-color-danger);
}

.color1{
  background-color: yellow;
}

.color2{
  background-color: green;
}

.color3{
  background-color: orange;
}