<ion-grid id="rows">
  <ion-row style="width: max-content;">
    <ion-col class="odd-even-item" *ngFor="let item of oddEvenPlainArr;let i=index">
      <h2 style="width: 20px;" #anchor
      [ngClass]="{
        'head':(item%2===0 && p_c=='blue')||(item%2===1 && b_c=='blue'),
        'tail':(item%2===0 && p_c=='red'||(item%2===1 && b_c=='red'))}"
      >{{item%2===0?'E':'O'}}</h2>
    </ion-col>
  </ion-row>
  <ion-row style="width: max-content;">
    <ion-col  *ngFor="let col of tableService.tableData;let i = index">
      <h2 style="width: 20px;" #anchor *ngFor="let item of col;let j=index" (click)="changeColor(item,j,i)" 
      [ngClass]="{
        'head':(item==p && p_c=='blue')||(item==b && b_c=='blue'),
        'tail':(item==p && p_c=='red'||(item==b && b_c=='red')), 
        'color1':(item==p && p_c=='yellow')||(item==b && b_c=='yellow'),
        'color2':(item==p && p_c=='green')||(item==b && b_c=='green'),
        'color3':(item==p && p_c=='orange')||(item==b && b_c=='orange')}"
      >{{item}}</h2>
    </ion-col>
  </ion-row>
  
</ion-grid>
