h2 {
    color: white;
    border: 1px solid gray;
    margin: 0;
  }

  ion-row{
    width: max-content;
    align-items: center;
    padding: 5%;
    padding-bottom: 0px;
  }


  ion-input{
    border:1px dotted #d0d0d0;
  }

  .yellow{
    background: yellow;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.red{
    background: red;
}

.orange{
    background: orange;
}